body {
  margin: 0;
  background: #3f5f44;
  color: #f7d27d;
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 30px;
}

.panel {
  background: #2f4f36;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
}

.btn {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  background: #355a3e;
  color: #f7d27d;
  cursor: pointer;
}

.btn.active {
  background: #f19a4c;
  color: white;
}

.reset {
  background: #f19a4c;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#turnText {
  font-size: 20px;
  margin-bottom: 15px;
}

.board {
  display: grid;
  gap: 10px;
}

.cell {
  width: 80px;
  height: 80px;
  background: #f8c9a1;
  border-radius: 12px;
  font-size: 32px;
  font-weight: bold;
  color: #3f5f44;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* POPUP */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-box {
  background: #2f4f36;
  padding: 30px 50px;
  border-radius: 15px;
  text-align: center;
}

.popup-box h2 {
  color: #f7d27d;
  margin-bottom: 20px;
}

.popup-box button {
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  background: #f19a4c;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.hidden {
  display: none;
}
